RAILS_ENV=production
* * * * * rake -s -f $HOME/app/current/Rakefile workon:emails && touch $HOME/app/current/log/last_processed_emails
* * * * * rake -s -f $HOME/app/current/Rakefile workon:direct && touch $HOME/app/current/log/last_processed_twitter
