RAILS_ENV=production
*/2 * * * * rake -s -f $HOME/app/current/Rakefile workon:emails && touch $HOME/app/current/log/last_processed_emails
*/3 * * * * rake -s -f $HOME/app/current/Rakefile workon:direct && touch $HOME/app/current/log/last_processed_twitter
